* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.main {
    position: fixed;
    top: 0;
    width: 100%;
    height: 90px;
    z-index: 100;
}

body {
    min-height: 100vh;
    background: linear-gradient(to top, rgba(0,0,0,0.60) 50%, rgba(0,0,0,0.60)50%), url(pic/hike.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
}

.logo {
    width: 230px;
    padding: 10px 0 0 30px;
    float: left;
}

.menu {
    float: right;
    margin-right: 40px;
}

.menu ul li {
    display: inline-block;
    line-height: 90px;
    margin-left: 25px;
    font-size: 20px;
}

.menu ul li a {
    text-decoration: none;
    color: antiquewhite;
    font-weight: bold;
    transition: 0.3s;
}

.menu ul li a:hover {
    color: black;
}

.title {
    text-align: center;
    font-size: 30px;
    margin-top: 110px;
}

.title p {
    font-size: 16px;
    margin-top: 8px;
    margin-bottom: 50px;
}

.mission {
    max-width: 1200px;
    margin:auto ;          
    padding: 10px;
}

.mission-content {
    display: flex;
    align-items: center;       
    justify-content: center;    
    gap: 20px;                  
}

.mission-text {
    flex: 1;
}

.mission-text h2 {
    font-size: 36px;
    margin-bottom: 15px;
}

.mission-text p {
    font-size: 15px;
    line-height: 1.7;
    margin-bottom: 12px;
}

.mission-image {
    flex: 1;
    display: flex;
    justify-content: center;   
}

.mission-image img {
    width: 80%;                
}

.container {
    display: flex;
    justify-content: center;
    gap: 30px;
    max-width: 1100px;
    margin-top: 100px;
}

.box {
    width: 260px;
    background: white;
    color: black;
    padding: 26px 22px;
    border-radius: 14px;
    text-align: center;
    border-top: solid #38bdf8;
}

.box p {
    font-size: 14px;
    line-height: 1.6;
}

.footer {  
    color: white; 
    text-align: center; 
    margin-top: 15px; 
    margin-bottom: 10px;
}