* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.main {
    width: 100%;
    height: 100vh;
    background: linear-gradient(to top, rgba(0,0,0,0.60) 50%, rgba(0,0,0,0.60)50%), url(pic/hike.jpg);
    background-size: cover;
    background-position: center;
}

.logo {
    width: 230px;
    padding: 10px 0 0 30px;
    float: left;
}

.menu {
    float: left;
}

.menu ul {
    display: flex;
    align-items: center;
}

.menu ul li {
    list-style: none;
    margin-left: 100px;
    margin-top: 27px;
    font-size: 20px;
}

.menu ul li a {
    text-decoration: none;
    color: antiquewhite;
    font-family: Arial;
    font-weight: bold;
}

.menu ul li a:hover {
    color: black;
}

.content {
    width: 1200px;
    color: antiquewhite;
    float: left;
    padding-top: 100px;
    font-size: 50px;
    font-family: "Times New Roman";
}

.summary {
    font-size: 20px;
    font-family: Arial;
    line-height: 30px;
    margin-top: 10px;
    margin-bottom: 300px;
}

.register {
    width: 160px;
    height: 40px;
    background: #FB8C00;
    border: none;
    cursor: pointer;
}

.register a {
    text-decoration: none;
    color: antiquewhite;
    font-size: 14px;
    font-weight: bold;
}

.form {
    width: 300px;
    position: absolute;
    right: 80px;
    top: 20%;
    background: rgba(0,0,0,0.65);
    padding: 25px;
    border-radius: 12px;
    font-family: Arial;
    color: white;
}

.form h2 {
    text-align: center;
    background: #FB8C00;
    padding: 12px;
    border-radius: 8px;
    margin-bottom: 20px;
}

.form input {
    width: 100%;
    height: 45px;
    background: transparent;
    border: none;
    border-bottom: 2px solid #FB8C00;
    color: white;
    margin-bottom: 18px;
    outline: none;
}

.form input::placeholder {
    color: #ccc;
}

.form select {
    width: 100%;
    height: 40px;
    background: transparent;
    border: 2px solid #FB8C00;
    color: white;
    border-radius: 5px;
    margin-bottom: 20px;
}

.form select option {
    color: black;
}

.button {
    width: 100%;
    height: 40px;
    background: #FB8C00;
    border: none;
    border-radius: 20px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

.button:hover {
    background: #ffa726;
}


#error {
    color: red;
    font-size: 12px;
    text-align: center;
    margin-bottom: 10px;
}


.link {
    text-align: center;
    margin-top: 15px;
    font-size: 13px;
}

.link a {
    color: #7b68ee;
    text-decoration: none;
}

.login {
    text-align: center;
    margin-top: 15px;
}

.icon {
    text-align: center;
}

.icon ion-icon {
    font-size: 25px;
    margin: 5px;
    color: white;
}

.icon ion-icon:hover {
    color: #FB8C00;
}
